@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

#ext_menu-2l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2l.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-2l .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-2l .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2l .mbr-navbar__items a {
  font-size: 13px;
}
#features1-2 P {
  text-align: center;
  font-size: 14px;
}
#buttons1-f .btn {
  font-size: 9px;
}
#msg-box4-4 .mbr-header__text {
  color: #000000;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-article P {
  color: #000000;
}
#header4-5 I {
  font-family: 'Slabo 27px', serif;
}
#header4-5 .btn {
  font-size: 16px;
}
#msg-box4-6 .mbr-header__text {
  color: #000000;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #000000;
}
#msg-box4-6 .mbr-article P {
  color: #000000;
}
#msg-box4-6 .btn {
  font-size: 16px;
}
#msg-box4-7 .mbr-header__text {
  color: #000000;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-article P {
  color: #000000;
}
#msg-box4-7 .mbr-article DIV {
  color: #000000;
}
#msg-box4-8 .mbr-header__text {
  color: #000000;
}
#msg-box4-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8 .mbr-article {
  color: #000000;
}
#msg-box4-8 .mbr-article P {
  color: #000000;
}
#features1-d P {
  font-size: 12px;
  text-align: left;
}
#contacts3-c P {
  color: #efefef;
}
#msg-box4-u .mbr-header__text {
  color: #000000;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#msg-box4-u .mbr-article P {
  color: #000000;
}
#msg-box4-u .mbr-header__text DIV {
  font-size: 15px;
}
#msg-box4-u .mbr-article DIV {
  color: #000000;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-i .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-i .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-i .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#contacts3-j P {
  color: #efefef;
}
#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-g .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-g .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-g .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#contacts3-h P {
  color: #efefef;
}
#ext_menu-q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-q .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-q .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-q .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#contacts3-r P {
  color: #efefef;
}
#ext_menu-y .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-y .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-y .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-y .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-y .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#header3-12 P {
  text-align: center;
}
#header3-12 H3 {
  text-align: center;
}
#contacts3-z P {
  color: #efefef;
}
#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-14 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-14 .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-14 .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#content5-16 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
}
#content5-16 .btn {
  font-size: 36px;
}
#content5-16 SPAN {
  font-size: 48px;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-17 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-17 .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-17 .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#content5-18 .btn {
  font-size: 48px;
}
#ext_menu-19 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-19 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-19 .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-19 .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#msg-box4-1b .mbr-header__text {
  color: #000000;
}
#msg-box4-1b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1b .mbr-article {
  color: #000000;
}
#msg-box4-1c .mbr-header__text {
  color: #000000;
}
#msg-box4-1c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1c .mbr-article {
  color: #000000;
}
#msg-box4-1d .mbr-header__text {
  color: #000000;
}
#msg-box4-1d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1d .mbr-article {
  color: #ffffff;
}
#msg-box4-1d .mbr-article P {
  color: #000000;
}
#msg-box4-1e .mbr-header__text {
  color: #000000;
}
#msg-box4-1e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1e .mbr-article {
  color: #000000;
}
#msg-box4-1g .mbr-header__text {
  color: #000000;
}
#msg-box4-1g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1g .mbr-article {
  color: #000000;
}
#contacts3-1a P {
  color: #efefef;
}
#header1-1o H1 {
  text-align: left;
  color: #ffffff;
}
#content5-1r .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1r .mbr-article {
  color: #000000;
}
#msg-box4-1t .mbr-header__text {
  color: #000000;
}
#msg-box4-1t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1t .mbr-article {
  color: #ffffff;
}
#msg-box4-1t .mbr-article DIV {
  color: #000000;
}
#ext_menu-1m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-1m .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-1m .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1m .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-1m .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#msg-box4-1u .mbr-header__text {
  color: #000000;
}
#msg-box4-1u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1u .mbr-article {
  color: #000000;
}
#msg-box4-1u .mbr-article P {
  color: #000000;
}
#msg-box4-1v .mbr-header__text {
  color: #000000;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-article P {
  color: #000000;
}
#msg-box4-1v .mbr-article DIV {
  color: #000000;
}
#msg-box4-1w .mbr-header__text {
  color: #000000;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#msg-box4-1w .mbr-article DIV {
  color: #000000;
}
#content5-1y .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1y .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1y .mbr-article {
  color: #fff;
}
#content5-1y .mbr-header .mbr-header__text SPAN {
  color: #000000;
}
#contacts3-1n P {
  color: #efefef;
}
#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-25 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-25 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-25 .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-25 .mbr-navbar__items a SPAN {
  font-size: 13px;
}
#contacts3-26 P {
  color: #efefef;
}
